<div class="col-md-6 mt-2" *ngIf="showMeetingForm">
  <h4>Join A Meeting</h4>
  <form #meetingForm="ngForm" id="meetingForm" (ngSubmit)="createMeeting()">
    <div class="form-group col-md-6">
      <label for="inputMeeting">Meeting ID</label>
      <input type="text" class="form-control" id="inputMeeting" name="meetingId" [(ngModel)]="meetingId">
    </div>
    <div class="form-group col-md-6">
      <label for="inputName">Your Name</label>
      <input type="text" class="form-control" id="inputName" name="name" [(ngModel)]="name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputRegion">Region (us-east-1)</label>
      <input type="text" class="form-control" id="inputRegion" name="region" [(ngModel)]="region">
    </div>
    <div class="form-group col-md-6">
      <button class="btn btn-primary" type="submit">Continue</button>
    </div>
  </form>
</div>
<p>
  MeetingId: {{meetingId}} <br>
  Name: {{name}} <br>
  Region: {{region}} <br>
  ChimeMeetingId: {{meeting?.meetingId}} <br>
  MeetingResponse: {{jsonMeetingResponse}} <br>
  AttendeeResponse: {{jsonAttendeeResponse}} <br>
  SelectedAudioInputDeviceId: {{selectedAudioInputDeviceId}} <br>
  SelectedVideoInputDeviceId: {{selectedVideoInputDeviceId}} <br>
  SelectedAudioOutputDeviceId: {{selectedAudioOutputDeviceId}} <br>
  IsMicrophoneEnabled: {{isMicrophoneEnabled}} <br>
  IsCameraEnabled: {{isCameraEnabled}} <br>
</p>
<div class="container mt-2" *ngIf="showSelectDevicesForm">
  <h4>Select devices</h4>
  <div class="row">
    <div class="col-6">
      <label>Microphone</label>
      <select [(ngModel)]="selectedAudioInputDeviceId" class="form-control" (change)="onAudioInputChange($event.target.value)">
        <option *ngFor="let option of audioInputDevices" [value]="option.deviceId">{{option.label}}</option>
      </select>
    </div>
    <div class="col-4">
      <label>Preview</label>
      <div class="progress">
        <div id="audio-preview" class="progress-bar bg-success" [style.width]="audioPreviewWitdh" [style.transitionDuration]="audioPreviewTransitionDuration" role="progressbar" [attr.aria-valuenow]="audioPreviewAriaValueNow" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label>Camera</label>
      <select [(ngModel)]="selectedVideoInputDeviceId" class="form-control" (change)="onVideoInputChange($event.target.value)">
        <option *ngFor="let option of videoInputDevices" [value]="option.deviceId">{{option.label}}</option>
      </select>
    </div>
    <div class="col-4" style="margin-top:30px">
      <video id="video-preview" style="width:350px"></video>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <select id="video-input-quality" (change)="onVideoInputQualityChange($event.target.value)" class="custom-select" style="width:308px">
        <option value="360p">360p (nHD) @ 15 fps (600 Kbps max)</option>
        <option value="540p" selected>540p (qHD) @ 15 fps (1.4 Mbps max)</option>
        <option value="720p">720p (HD) @ 15 fps (1.4 Mbps max)</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label>Speaker</label>
      <select id="audio-output" [(ngModel)]="selectedAudioOutputDeviceId" class="form-control" (change)="onAudioOutputChange($event.target.value)">
        <option *ngFor="let option of audioOutputDevices" [value]="option.deviceId">{{option.label}}</option>
      </select>
    </div>
    <div class="col-4" style="margin-top:30px">
      <button (click)="testSound()" class="btn btn-outline-primary" style="width:350px">Test</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10">
      <button (click)="joinMeeting()" class="btn btn-primary" style="width:100%">Join</button>
      Ready to join meeting <b>{{this.meetingId}}</b> as <b>{{this.name}}.</b>
    </div>
  </div> 
</div>

<audio id="meeting-audio"></audio>
<div class="container mt-2" *ngIf="showMeetingScreen">
  <h4>Meeting Screen</h4>
  <div class="container-fluid h-100">
    <div class="row">
      <div class="col-1 text-left">
        <div class="navbar-brand text-muted m-2">{{meetingId}} <span>(</span>{{region}}<span>)</span></div>
      </div>
      <div class="col-5 text-right">
        <div class="btn-group m-2" role="group" aria-label="Toggle microphone">
          <button id="button-microphone" type="button" class="btn" [ngClass]="{'btn-success': isMicrophoneEnabled, 'btn-danger disabled': !isMicrophoneEnabled }" title="Toggle microphone" (click)="toggleMicrophone()"><i class="fa fa-microphone"></i></button>
        </div>  
        <div class="btn-group m-2" role="group" aria-label="Toggle camera">
          <button id="button-camera" type="button" class="btn" [ngClass]="{'btn-success': isCameraEnabled, 'btn-danger disabled': !isCameraEnabled }" title="Toggle camera" (click)="toggleCamera()"><i class="fa fa-video-camera"></i></button>
        </div>    
      </div>
    </div>
    <div class="row h-100">
      <div class="col-sm-4">
        <div class="bs-component">
          Attendee list
          <ul id="roster" class="list-group"></ul>
        </div>
      </div>
    </div>
    <div class="col p-0">
      <div id="tile-area" class="w-100 h-100">
        <div id="tile-0" style="display:none">
          <video id="video-0" class="w-100 h-100"></video>
          <div id="nameplate-0"></div>
          <button id="video-pause-0">Pause</button>
          <button id="video-resume-0">Resume</button>
        </div>
        <div id="tile-1" style="display:none">
          <video id="video-1" class="w-100 h-100"></video>
          <div id="nameplate-1"></div>
          <button id="video-pause-1">Pause</button>
          <button id="video-resume-1">Resume</button>
        </div>
        <div id="tile-2" style="display:none">
          <video id="video-2" class="w-100 h-100"></video>
          <div id="nameplate-2"></div>
          <button id="video-pause-2">Pause</button>
          <button id="video-resume-2">Resume</button>
        </div>
        <div id="tile-3" style="display:none">
          <video id="video-3" class="w-100 h-100"></video>
          <div id="nameplate-3"></div>
          <button id="video-pause-3">Pause</button>
          <button id="video-resume-3">Resume</button>
        </div>
        <div id="tile-4" style="display:none">
          <video id="video-4" class="w-100 h-100"></video>
          <div id="nameplate-4"></div>
          <button id="video-pause-4">Pause</button>
          <button id="video-resume-4">Resume</button>
        </div>
        <div id="tile-5" style="display:none">
          <video id="video-5" class="w-100 h-100"></video>
          <div id="nameplate-5"></div>
          <button id="video-pause-5">Pause</button>
          <button id="video-resume-5">Resume</button>
        </div>
        <div id="tile-6" style="display:none">
          <video id="video-6" class="w-100 h-100"></video>
          <div id="nameplate-6"></div>
          <button id="video-pause-6">Pause</button>
          <button id="video-resume-6">Resume</button>
        </div>
        <div id="tile-7" style="display:none">
          <video id="video-7" class="w-100 h-100"></video>
          <div id="nameplate-7"></div>
          <button id="video-pause-7">Pause</button>
          <button id="video-resume-7">Resume</button>
        </div>
        <div id="tile-8" style="display:none">
          <video id="video-8" class="w-100 h-100"></video>
          <div id="nameplate-8"></div>
          <button id="video-pause-8">Pause</button>
          <button id="video-resume-8">Resume</button>
        </div>
        <div id="tile-9" style="display:none">
          <video id="video-9" class="w-100 h-100"></video>
          <div id="nameplate-9"></div>
          <button id="video-pause-9">Pause</button>
          <button id="video-resume-9">Resume</button>
        </div>
        <div id="tile-10" style="display:none">
          <video id="video-10" class="w-100 h-100"></video>
          <div id="nameplate-10"></div>
          <button id="video-pause-10">Pause</button>
          <button id="video-resume-10">Resume</button>
        </div>
        <div id="tile-11" style="display:none">
          <video id="video-11" class="w-100 h-100"></video>
          <div id="nameplate-11"></div>
          <button id="video-pause-11">Pause</button>
          <button id="video-resume-11">Resume</button>
        </div>
        <div id="tile-12" style="display:none">
          <video id="video-12" class="w-100 h-100"></video>
          <div id="nameplate-12"></div>
          <button id="video-pause-12">Pause</button>
          <button id="video-resume-12">Resume</button>
        </div>
        <div id="tile-13" style="display:none">
          <video id="video-13" class="w-100 h-100"></video>
          <div id="nameplate-13"></div>
          <button id="video-pause-13">Pause</button>
          <button id="video-resume-13">Resume</button>
        </div>
        <div id="tile-14" style="display:none">
          <video id="video-14" class="w-100 h-100"></video>
          <div id="nameplate-14"></div>
          <button id="video-pause-14">Pause</button>
          <button id="video-resume-14">Resume</button>
        </div>
        <div id="tile-15" style="display:none">
          <video id="video-15" class="w-100 h-100"></video>
          <div id="nameplate-15"></div>
          <button id="video-pause-15">Pause</button>
          <button id="video-resume-15">Resume</button>
        </div>
        <div id="tile-16" >
          Video 16
          <video id="video-16" class="w-100 h-100"></video>
          <div id="nameplate-16"></div>
          <button id="video-pause-16" class="btn">Pause</button>
          <button id="video-resume-16" class="btn">Resume</button>
        </div>
        <div id="tile-17" class="screenview unselectable" style="resize:both;display:none"><div id="nameplate-17" style="display:none">No one is sharing screen</div></div>
      </div>
    </div>
</div>
 


