<div class="col-md-6 mt-2" *ngIf="showMeetingForm">
  <h4>Join A Meeting</h4>
  <form #meetingForm="ngForm" id="meetingForm" (ngSubmit)="createMeeting()">
    <div class="form-group col-md-6">
      <label for="inputMeeting">Meeting ID</label>
      <input type="text" class="form-control" id="inputMeeting" name="meetingId" [(ngModel)]="meetingId">
    </div>
    <div class="form-group col-md-6">
      <label for="inputName">Your Name</label>
      <input type="text" class="form-control" id="inputName" name="name" [(ngModel)]="name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputRegion">Region (us-east-1)</label>
      <input type="text" class="form-control" id="inputRegion" name="region" [(ngModel)]="region">
    </div>
    <div class="form-group col-md-6">
      <button class="btn btn-primary" type="submit">Continue</button>
    </div>
  </form>
</div>
<p>
  MeetingId: {{meetingId}} <br>
  Name: {{name}} <br>
  Region: {{region}} <br>
  ChimeMeetingId: {{meeting?.meetingId}} <br>
  MeetingResponse: {{jsonMeetingResponse}} <br>
  AttendeeResponse: {{jsonAttendeeResponse}}
</p>
<div class="container mt-2" *ngIf="showSelectDevicesForm">
  <h4>Select devices</h4>
  <div class="row">
    <div class="col-6">
      <label>Microphone</label>
      <select [(ngModel)]="selectedAudioInputDeviceId" class="form-control" (change)="onAudioInputChange($event.target.value)">
        <option *ngFor="let option of audioInputDevices" [value]="option.deviceId">{{option.label}}</option>
      </select>
    </div>
    <div class="col-4">
      <label>Preview</label>
      <div class="progress">
        <div id="audio-preview" class="progress-bar bg-success" [style.width]="audioPreviewWitdh" [style.transitionDuration]="audioPreviewTransitionDuration" role="progressbar" [attr.aria-valuenow]="audioPreviewAriaValueNow" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label>Camera</label>
      <select [(ngModel)]="selectedVideoInputDeviceId" class="form-control" (change)="onVideoInputChange($event.target.value)">
        <option *ngFor="let option of videoInputDevices" [value]="option.deviceId">{{option.label}}</option>
      </select>
    </div>
    <div class="col-4" style="margin-top:30px">
      <video id="video-preview" style="width:350px"></video>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <select id="video-input-quality" (change)="onVideoInputQualityChange($event.target.value)" class="custom-select" style="width:308px">
        <option value="360p">360p (nHD) @ 15 fps (600 Kbps max)</option>
        <option value="540p" selected>540p (qHD) @ 15 fps (1.4 Mbps max)</option>
        <option value="720p">720p (HD) @ 15 fps (1.4 Mbps max)</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label>Speaker</label>
      <select id="audio-output" [(ngModel)]="selectedAudioOutputDeviceId" class="form-control" (change)="onAudioOutputChange($event.target.value)">
        <option *ngFor="let option of audioOutputDevices" [value]="option.deviceId">{{option.label}}</option>
      </select>
    </div>
    <div class="col-4" style="margin-top:30px">
      <button (click)="testSound()" class="btn btn-outline-primary" style="width:350px">Test</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10">
      <button class="btn btn-primary" style="width:100%">Join</button>
    </div>
  </div>
  <p>
    SelectedAudioInputDeviceId: {{selectedAudioInputDeviceId}} <br>
    SelectedVideoInputDeviceId: {{selectedVideoInputDeviceId}} <br>
    SelectedAudioOutputDeviceId: {{selectedAudioOutputDeviceId}} <br>
  </p>  
</div>
 


